{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kayıt Ol - {{ block.super }}{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'anasayfa' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left me-2"></i> Ana Sayfaya Dön
        </a>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4">Kullanıcı Kaydı</h2>
                    <p class="text-center text-muted small">Hoş geldiniz, Romingo Academy Aile'sine katıldığınız için teşekkür ederiz.</p>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn w-100 mt-4" style="background-color: #1DB954; color: white; border: none;">
                            Kayıt Ol
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}