{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Giriş Yap - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="card-title text-center mb-4">Kullanıcı Girişi</h2>
                
                    {% if request.GET.next %}
                    <div class="alert alert-warning" role="alert">
                        Bu işlemi yapabilmek için lütfen giriş yapınız.
                    </div>
                    {% endif %}

                    

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 mt-4">Giriş Yap</button>
                    </form>

                    <div class="text-center mt-3">
                        <small class="text-muted"><a href="{% url 'password_reset' %}">Şifremi unuttum</a></small>
                    </div>

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
