{% extends 'base.html' %}

{% block title %}Şifre Değiştirildi - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success text-center p-5">
            <h4 class="alert-heading">Şifreniz Başarıyla Değiştirildi!</h4>
            <p>Artık yeni şifrenizle giriş yapabilirsiniz.</p>
            <hr>
            <a href="{% url 'login' %}" class="btn btn-success">Giriş Yap</a>
        </div>
    </div>
</div>
{% endblock %}