{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Şifremi Unuttum - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body p-5">
                <h2 class="card-title text-center mb-4">Şifre Sıfırlama</h2>
                <p class="text-center text-muted small">Lütfen sisteme kayıtlı e-posta adresinizi girin. Size şifrenizi sıfırlamanız için bir link göndereceğiz.</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-4">Sıfırlama Linki Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
