{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ paket.baslik }} Satın Alma</h1>
    {% if indirimli_fiyat %}
        <p>Normal Fiyat: <del>{{ paket.fiyat }} EURO</del></p>
        <p class="text-success">Size Özel İndirimli Fiyat: {{ indirimli_fiyat }} EURO</p>
    {% else %}
        <p>Fiyat: {{ paket.fiyat }} EURO</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Ödemeyi Tamamla</button>
    </form>
</div>
{% endblock %}
